/* card.css */
.card {
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .card:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  
  .glassmorphism {
    background-color: #f7f4f42f;
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
 .card:hover{
  transform: scaleY(1.1);
 }