.sidebar {
    position: fixed;
    width: 60px;
    height: 100vh;
    top: 0;
    left: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #fdfafa8f;
    z-index: 1;
    transition: all 1s ease; /* Added transition for width */
}


.logo_div img {
    height: 60px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s ease; /* Added transition for size and padding */
}

.sidebar__icons_div {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 25px;
    outline: black;
    cursor: pointer;

}


.sidebar__icons_div .icons {
    color: #636363;
    transition: all 0.3s ease-in-out;
    
}

.icon__name{
    text-transform: uppercase;
    font-size: 8px;
    color: #bebbbb;
    font-weight: 600;
    position: absolute;
   left: 35px;
    top: 10px;
   background-color: #f9f7fd42; 
   padding: 0px 5px; 
   border-radius: 30px;
   transition: all 0.3s ease-in-out;
   display: none;
   box-shadow: 0px 0px 5px 0px #8b88888f;
     
    }

.sidebar__icons_div .icons:hover {
    transform: scale(1.4);
    color: #ff4c61;
    
    
}

.icons:hover .icon__name{
    display: block;
}

    

.sidebar__icons_div .icons.active {
    color: #ff4c61;
    transform: scale(1.5);
}

.sidebar-footer-text {
    margin-top: 8rem;
    font-size: 11px;
    transform: rotate(270deg);
    color: #5e5a5a;
    transition: margin-top 0.3s ease; /* Added transition for margin-top */
}

@media screen and (max-width: 480px) {
    .sidebar {
        width: 100vw;
        height: auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-right: none;
        border-bottom: 1px solid #fdfafa;
        z-index: 1;
        

    }
    .icons:hover .icon__name{
        display: none;
    }
    .logo_div  {
        display: none;
    }
    .sidebar__icons_div .icons {
        font-size: 1.9rem;
    }
      
    .sidebar__icons_div {
        margin-top: 0;
        flex-direction: row;
        gap: 6vw;
    }
    .icons{
        margin-top: 1rem;
    }

    .sidebar-footer-text {
        display: none;
    }

}
