
.profile-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

#cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: #103874;
    border-radius: 100%;
    pointer-events: none;
    z-index: 1000;
    transition: transform ease-out 10ms;
  }
  
  #stalker {
    position: fixed;
    margin-top: -15px;
    margin-left: -15px;
    width: 40px;
    height: 40px;
    background-color: #928f8f;
    opacity: 30%;
    border-radius: 100%;
    pointer-events: none;
    transition: transform ease-out 100ms;
    z-index: 999;
  }
  
/* 

.btn{
    margin: 1em 0em;
    padding: .5em 1em;
    color: #f3efef;
    border-radius: 35px;
    background-color: rgb(175, 121, 6);
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all .3s ease-in-out;

}
.btn:hover{
    background-color: rgb(221, 154, 11);
    color: #fff;
    transform: scale(1.1);
    
}
} */
